{% extends 'skeleton.html' %}
{% block script %}
<script src="{{ url_for('static', filename='js/monitor.js')}}"></script>
<script src="{{ url_for('static', filename='js/lib/socket.io.min.js')}}"></script>
{% endblock %}

{% block nav%}
<li><a href="{{url_for('index')}}">Go back</a></li>
{% endblock %}

{% block header %}
<h1>{% block title %} Monitor golf ball metrics {% endblock %}</h1>
{% endblock %}

{% block content %}
<div class="user_monitor_option_input">
    <form method="post">
        <div class="save_result_option">
            {% if save_result == 'on' %}
                <input type="checkbox" id="save_results" name="save_results" checked>Toggle to save results</input>
            {% else %}
                <input type="checkbox" id="save_results" name="save_results">Toggle to save results</input>
            {% endif %}
            <input type="hidden" id="save_results" name="save_results" value="off">
        </div>
        
        <select name="club" id="club" required>
            {% if selected_club %}
                <option value="{{ selected_club }}" selected hidden>{{ selected_club }}</option>
            {% else %}
                <option value="" selected hidden disabled>Choose a club</option>
            {% endif %}

            {% for club in clubs %}
                <option value="{{ club }}">{{ club }}</option>
            {% endfor %}
        </select>
        <input type="submit" class="btn btn-dark btn-sm"></input>
    </form>
</div>
<div class="live-data"></div>
{% if selected_club %}
<div id="initial_positioning_aid"></div>
<div id="preview_stream">
    <img id="video" src="" alt="">
</div>
{% endif %}

<div class="results">
{% if replaypath %}
    <h2>Shot replay</h2>
    <video autoplay="autoplay" controls="controls" width="100%">  
        {% set replaypath = "results/"+replaypath %}
        <source src="{{ url_for('static', filename=replaypath ) }}" type="video/mp4"></source>
    </video>
{% endif %}
</div>

{% endblock %}
